---
section: home
---

<article class="about">
  <h2>About</h2>
  <p>
    We kindly invite you to our Elixir meetup in the
    <a href="https://en.wikipedia.org/wiki/Ruhr">Ruhr region</a>.
    We are a group of enthusiastic software developers mostly with a strong
    <a href="https://www.ruby-lang.org">Ruby</a> background.
  </p>
  <p>    
  Doors will open at 18:30, the talks are starting at 19:00.    
  The event will be free, but with a limited amount of space.   
  Please use our    
  <a href="http://www.meetup.com/ElixirRuhr/events/231776809/">Meetup page</a>    
  for <abbr title="Répondez s'il vous plaît">RSVP</abbr>.   
  </p>    
  <p>   
  Special thanks to our <a href="#sponsors">sponsors</a> for providing drinks and snacks.   
  </p>
</article>

<article class="meetups">
  <h2>Next Meetup</h2>
  <ul class="upcoming-meetups">
    {% for meetup in site.meetups %}
      {% if meetup.archived == false %}
        <li>
          <h3>
            <a href="{{ meetup.url }}">
              {{ meetup | meetup_title }}
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</article>

<article class="meetups">
  <h2>Past Meetups</h2>
  <ul class="past-meetups">
    {% for meetup in site.meetups %}
      {% if meetup.archived == true %}
        <li>
          <h3>
            <a href="{{ meetup.url }}">
              {{ meetup | meetup_title }}
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</article>
