<footer class="main" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Connect</h3></li>
      <li><a href="https://twitter.com/ElixirRuhr">Twitter</a></li>
      <li><a href="https://gitter.im/ElixirRuhr/ElixirRuhr">Gitter chat</a></li>
      <li><a href="http://www.meetup.com/ElixirRuhr">Meetup</a></li>
    </ul>
    <ul>
      <li><h3>Contribute</h3></li>
      <li><a href="/coc.html">Code of Conduct</a></li>
      <li><a href="https://github.com/ElixirRuhr/orga/issues">GitHub issues</a></li>
      <li><a href="https://github.com/ElixirRuhr/elixir.ruhr">GitHub page</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="/imprint.html">Impressum</a></li>
      <li><a href="/privacy_policy.html">Datenschutzerklärung</a></li>
    </ul>
  </div>
  <hr>
  <p>
    Copyright &copy; 2015-{{ site.time | date: "%Y" }} ElixirRuhr
  </p>
  <p>
    <small>Updated at {{ site.time | date: "%F %X %Z" }}</small>
  </p>
</footer>
