<article class="sponsors" id="sponsors">
  <h2>Sponsors</h2>
  <div>
    <a href="http://9elements.com" target="_blank" title="9elements - mobile and web development" class="nine-elements">
      <img src="/images/sponsors/9elements.png" alt="9elements - mobile and web development"/>
    </a>
    <a href="http://neopoly.com" target="_blank" title="Neopoly - Online games and services" class="neopoly">
      <img src="/images/sponsors/neopoly.png" alt="Neopoly - Online games and services"/>
    </a>
  </div>
</article>
