body.meetups {
  article.talks {
    ul.speakers {
      @include unstyled-list;
      @include span-columns(12);

      > li {
        display: block;
        margin-bottom: $base-spacing * 2;

        h3 {
          margin: $base-spacing * 0.25 0;
        }

        .speaker {
          @include outer-container;

          p {
            margin: $base-spacing * 0.5 0;
          }

          .avatar {
            @include span-columns(2 of 12);
            @include media($mobile) {
              @include span-columns(12 of 12);
            }
            text-align: center;

            img {
              @include round-image;
              @include simple-shadow;
              border: 4px solid white;
              width: 100px;
              margin: 20px auto 0 auto;
            }
          }
          .bio {
            @include span-columns(10 of 12);
            @include media($mobile) {
              @include span-columns(12 of 12);
            }

            .twitter {
              @include with-brackets;
            }
          }
        }
      }
    }
  }

  article.location {
    iframe {
      height: 500px;
      width: 100%;
      border: 0;
    }
  }

  article.sponsors {
    > div {
      @include outer-container;
    }
    a {
      @include span-columns(3 of 12);
      text-align: center;

      &:first-child {
        @include shift(3 of 12);
      }

      @include media($mobile) {
        @include span-columns(6 of 12);
        &:first-child {
          @include shift(0 of 12);
        }
      }
    }
    img {
      opacity: 0.5;
      @include filter(grayscale(100%));
      @include transition(all 0.3s ease-out);
      &:hover {
       opacity: 1;
       @include filter(grayscale(0%));
      }
    }
  }
}
