<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}ElixirRuhr</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/css/application.css">
</head>
<body class="{{ page.section }}">
  <header class="main" role="banner">
    <h1>
      <a href="/">
        <img src="/images/elixir_ruhr_logo.png" alt="Elixir Ruhr Logo">
      </a>
    </h1>
    <ul class="next-meetup">
      <li>Next Meetup: XX.XX.XXXX</li>
      <li>Entry: XX:XX</li>
      <li>Talks: XX:XX</li>
      <li><a href="http://www.meetup.com/ElixirRuhr/events/226415527/?eventId=226415527">RSVP</a></li>
    </ul>
  </header>
  <section>
    {{ content }}
  </section>
  <footer class="main" role="contentinfo">
    <div class="footer-links">
      <ul>
        <li><h3>Connect</h3></li>
        <li><a href="https://twitter.com/ElixirRuhr">Twitter</a></li>
        <li><a href="https://gitter.im/ElixirRuhr/ElixirRuhr">Gitter chat</a></li>
        <li><a href="http://www.meetup.com/ElixirRuhr">Meetup</a></li>
      </ul>
      <ul>
        <li><h3>Contribute</h3></li>
        <li><a href="https://github.com/ElixirRuhr/orga/issues">GitHub issues</a></li>
        <li><a href="https://github.com/ElixirRuhr/elixir.ruhr">GitHub page</a></li>
      </ul>
      <ul>
        <li><h3>Legal</h3></li>
        <li><a href="/imprint.html">Impressum</a></li>
        <li><a href="/privacy_policy.html">Datenschutzerklärung</a></li>
      </ul>
    </div>
    <hr>
    <p>
      Copyright &copy; 2016 ElixirRuhr
    </p>
  </footer>
</body>
</html>
